@import '../../style/varible.scss';
@import '../../style/breaks.scss';

.topFilter {
	padding: 40px 0;

	&__title {
		margin: 35px 0;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 60px;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.container {
	width: $container-width;
	margin: 0 auto;

	&--cart {
		max-width: 820px;
		margin: 90px auto;

		.topFilter__title {
			margin: 0;
		}
	}
}

@media only screen and (min-width: $desktopWide) {
	.topFilter {
		padding: 40px 0;

		&__title {
			margin: 35px 0;
		}

		&__items {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 60px;
		}

		&__top {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.container {
		width: $container-width;
		margin: 0 auto;

		&--cart {
			max-width: 820px;
			margin: 90px auto;

			.topFilter__title {
				margin: 0;
			}
		}
	}
}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
	.topFilter {
		padding: 40px 0;

		&__title {
			margin: 35px 0;
		}

		&__items {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 60px;
		}

		&__top {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.container {
		width: $container-width;
		margin: 0 auto;

		&--cart {
			max-width: 820px;
			margin: 90px auto;

			.topFilter__title {
				margin: 0;
			}
		}
	}
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
	.topFilter {
		padding: 40px 0;

		&__title {
			margin: 35px 0;
		}

		&__items {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 60px;
		}

		&__top {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.container {
		width: $container-width;
		margin: 0 auto;

		&--cart {
			max-width: 820px;
			margin: 90px auto;

			.topFilter__title {
				margin: 0;
			}
		}
	}
}

@media only screen and (max-width: $mobile) {
	.topFilter {
		padding: 40px 0;

		&__title {
			margin: 35px 0;
		}

		&__items {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 60px;
		}

		&__top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column-reverse;
			gap: 25px;
		}
	}

	.container {
		width: $container-width;
		margin: 0 auto;

		&--cart {
			max-width: 820px;
			margin: 90px auto;

			.topFilter__title {
				margin: 0;
			}
		}
	}
}