@import '../../style/varible.scss';
@import '../../style/breaks.scss';

.header {
	padding: 30px 0;

	.container {
		display: grid;
		justify-items: center;
		align-items: center;
		grid-template-columns: 310px 1fr 140px;
		gap: 40px;
	}

	&__logo {
		display: flex;
		gap: 10px;

		img {}

		h1 {}

		p {}
	}
}

@media only screen and (min-width: $desktopWide) {}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
	.header {
		padding: 30px 0;

		.container {
			display: grid;
			justify-items: center;
			align-items: center;
			grid-template-columns: 1fr;
			gap: 40px;
		}

		&__logo {
			display: flex;
			gap: 10px;

			img {}

			h1 {}

			p {}
		}
	}
}


@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {}

@media only screen and (max-width: $mobile) {
	.header {
		padding: 30px 0;

		.container {
			display: grid;
			justify-items: center;
			align-items: center;
			grid-template-columns: 1fr;
			gap: 40px;
		}

		&__logo {
			display: flex;
			gap: 10px;

			img {}

			h1 {}

			p {}
		}
	}
}